@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}
.literata {
  font-family: Literata;
}
.literata-italic {
  font-family: "Literata", serif;
  font-style: italic;
}
.manrope {
  font-family: Manrope;
}
.manrope-italic {
  font-family: Manrope;
  font-style: italic;
}
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 40px;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 100;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #ff472f;
  align-items: center;
  justify-content: center;
}
#chatbot-toggler span {
  position: absolute;
  color: #fff;
}
#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 1;
}
.container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot-popup {
  position: fixed;
  opacity: 0;
  /* top:100px; */
  bottom: 20px;
  z-index: 100;
  right: 35px;
  pointer-events: none;
  width: 420px;
  /* transform: scale(1.2); */
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
}
.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background-color: #ff472f;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #ff472f;
  background-color: #ffffff;
  border-radius: 50%;
}

.header-info .logo-text {
  color: white;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  color: white;
  outline: none;
  font-size: 1.9rem;
  background-color: #ff472f;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  cursor: pointer;
  background: none;
  transition: 0.2s;
}
.chat-header button:hover {
  background-color: #ff472f;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 260px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 25px 25px;
  scrollbar-width: thin;
  scrollbar-color: #ff472f transparent;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .message.error {
  color: blue;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: white;
  align-self: flex-end;
  margin-bottom: 2px;
  background-color: #ff472f;
  border-radius: 50%;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.9rem;
}
.chat-body .bot-message .message-text {
  background-color: #ffffff;
  border-radius: 13px 13px 13px 13px;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  color: white;
  background: #ff472f;
  border-radius: 13px 13px 13px 13px;
}
.chat.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid black;
  margin: 10px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}
.chat-form .chat-form:focus-within {
  outline: 2px solid #ff472f;
}
.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  font-size: 1.15rem;
  flex-shrink: 0;
  color: #fff;
  margin-right: 2px;
  border-radius: 50%;
  background: #ff472f;
  transition: 0.2s;
}
.chat-form button:hover {
  background-color: #ff472f;
}

.chat-form .message-input:valid ~ button {
  display: block;
}

@media only screen and (max-width: 360px) {
  /* Your styles for small mobile devices */
 .chatbot-popup {
  /* position: fixed; */
  opacity: 0;
  top:10px;
  /* right: 0px; */
  z-index: 100;
  /* right: 35px; */
  left: 10px;
  pointer-events: none;
  width: 330px;
  height: 420px;
  /* margin-left: 12px; */
  /* transform: scale(1.2); */
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
 }
#chatbot-toggler {
  position: fixed;
  border: none;
  bottom: 330px;
  height: 50px;
  width: 50px;
  z-index: 100;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #ff472f;
  align-items: center;
  justify-content: center;
}
.chat-body {
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 180px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 15px 15px;
  scrollbar-width: thin;
  scrollbar-color: #ff472f transparent;
}
}